/* inside the sliding bar */
/* aside {
	background-color: #30687e;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0%;
	width: 20%;
	z-index: 1;
} */

/*under slidebar*/
section {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgb(165, 120, 120);
	overflow: hidden;
}

/* the button !!!! */
label {
	display: inline-block;
	padding: 7px 10px;
	background-color: transparent;
	cursor: pointer;
	margin: 10px;
	z-index: 3;
	position: fixed;

	right: 0%;
}

/* slide button color */
.bar {
	display: block;
	background-color: #622b4d;
	width: 30px;
	height: 3px;
	border-radius: 5px;
	margin: 5px auto;
	transition: background-color 0.5s ease-in, transform 0.5s ease-in, width 0.5s ease-in;
}

/* canvas */
.content {
	top: 0;
	bottom: 0;
	position: absolute;
	right: 0;
	left: 0;
	background-color: rgb(108, 137, 200);
	z-index: 2;
	transition: transform 0.5s ease-in-out;
}

/* Title in the middel */
/* h1 {
    margin: 0;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    font-size: 40px;
  } */
/* .asideList {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 100px;
    text-align: center;
    border-top: 2px solid rgba(255, 255, 255, .7);
  }
  
  .asideAnchor {
    border-bottom: 2px solid rgba(255, 255, 255, .7);
    padding: 20px 0;
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    transition: color .3s .15s ease-in;
  } */

/* .asideAnchor::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    background-color: #fff;
    width: 0;
    transition: width .3s ease-in;
    z-index: -1;
  }
  
  .asideAnchor:hover {
    color: #0799d3;
  }
  
  .asideAnchor:hover::after {
    width: 100%;
  } */

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked ~ .content {
	transform: translateX(-20%);
}

/* x button color */
input[type="checkbox"]:checked ~ label .bar {
	background-color: rgb(211, 205, 130);
}

/* the skide button -> X */
input[type="checkbox"]:checked ~ label .top {
	-webkit-transform: translateY(0px) rotateZ(45deg);
	-moz-transform: translateY(0px) rotateZ(45deg);
	-ms-transform: translateY(0px) rotateZ(45deg);
	-o-transform: translateY(0px) rotateZ(45deg);
	transform: translateY(0px) rotateZ(45deg);
}

input[type="checkbox"]:checked ~ label .bottom {
	-webkit-transform: translateY(-15px) rotateZ(-45deg);
	-moz-transform: translateY(-15px) rotateZ(-45deg);
	-ms-transform: translateY(-15px) rotateZ(-45deg);
	-o-transform: translateY(-15px) rotateZ(-45deg);
	transform: translateY(-15px) rotateZ(-45deg);
}

input[type="checkbox"]:checked ~ label .middle {
	width: 0;
}

/* .middle {
    margin: 0 auto;
  } */

/* .ua {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #0799d3;
    font-size: 2em;
    z-index: 2;
  } */
