html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: "Avenir Next", "Avenir", sans-serif;
}
label {
    display: block;
    margin-top: 10px;
}
#root, #main {
    width: 100%;
    height: 100%;
}
#header {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 10%;
    background-color: #e9e8e8;
    /* border-bottom: groove;
    border-width: thin; */
    cursor: default;
}
#toolbar {
    position: relative;
    float: left;
    overflow: hidden;
    width: 3%;
    height: 80%;
    background-color: #f6f6f3;
    cursor: default;
}
#canvas {
    position: relative;
    float: left;
    overflow: hidden;
    width: 97%;
    height: 80%;
    background: url('../images/grid.gif');
    cursor: default;
}
/* #attributeEditor {
    position: absolute;
    float: left;
    overflow: hidden;
    width: 18%;
    height: 80%;
    right: 0%;
    background-color: #eeeeee;
    cursor: default;   
} */
#objectSelector {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 10%;
    background-color: #f6f5f3;
    /* border-top: groove; */
    /* border-width: thin; */
    cursor: default;
}
.sidetool {
    position: relative;
    overflow: hidden;
    width: 2vw;
    height: 2vw;
    margin-top: 50%;
    margin-left: 15%;
    cursor: pointer;
}

input{
    border-radius: 6px 6px 6px 6px;
    border-width: thin;
}

textarea {
    font-size: .8rem;
    letter-spacing: 1px;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.attrblock{
    display: block;
}
.attrTitle{
    display: block;
    border-top: 1px solid black;
    margin-top: 20px;
    padding-top: 10px;
}