html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: "Avenir Next", "Avenir", sans-serif;
}
label {
    display: block;
}
#root, #main {
    width: 100%;
    height: 100%;
}
#header {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 10%;
    background-color: #aaaaaa;
    cursor: default;
}
#toolbar {
    position: relative;
    float: left;
    overflow: hidden;
    width: 2%;
    height: 80%;
    background-color: #cccccc;
    cursor: default;
}
#canvas {
    position: relative;
    float: left;
    overflow: hidden;
    width: 98%;
    height: 80%;
    background: url('../images/grid.gif');
    cursor: default;
}
/* #attributeEditor {
    position: absolute;
    float: left;
    overflow: hidden;
    width: 18%;
    height: 80%;
    right: 0%;
    background-color: #eeeeee;
    cursor: default;   
} */
#objectSelector {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 10%;
    background-color: #dddddd;
    cursor: default;
}
.sidetool {
    position: relative;
    overflow: hidden;
    width: 1.5vw;
    height: 1.5vw;
    margin-top: 10%;
    margin-left: 10%;
    cursor: pointer;
}